body{
    background-color: #006640;
    color: #e0eaff
}

img {
    width: 50%;
    display: block;
    margin: auto;

}

h1{
    text-align: center;
}

h4{
    text-align: center;
}

h5{
    text-align: center;
}
