body{
    background-color: #006640;
    color: #e0eaff
}

main {
    margin-right: 20px;
    margin-left: 20px;
  }
  

img {
    width: 50%;
    display: block;
    margin: auto;

}

h1{
    text-align: center;
}

h4{
    text-align: center;
}

h5{
    text-align: center;
}

.mention{
    margin-top: 10px;
    text-align: center;
}

.formGroup{
    text-align: left;
}

.inputGroup {
    border-radius: 5px;
    width: 50%;
    display: block;
    text-align: center;
}

.inputButton {
    margin-top: 30px;
}

.placeIndexNav {
    justify-content: center;
    margin: 5px;
    padding-left: 5px;
    display: flex;
}

nav {
    background-color: #006640;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}
